
table {
    table-layout: auto;
		border: 1px black solid;
}
th {
background-color: #ffd78c;
text-align: center;
vertical-align: middle;
}
/* TODO:  */
td{
	vertical-align: middle;
}
td, th {
	padding: 2px;

}
img{
  margin:5px;
  
}
